{% extends 'base.html.twig' %}
       {% block body %}
           <header>{% block header %}
           {% endblock %}</header>

           <main>{% block content %}  content
               {% endblock %} </main>

           <footer>{% block footer %} footer
               {% endblock %} </footer>



       {% endblock %}
